img {
	width: 30%;
	float: left;
	margin: 1.66%

}

h1{
	font-family: srisakdi;
	margin-left: 1.66%;
	font-size: 28px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 1px solid #f22f10;
	width:30%;
	color: rgb(23,222,34);
}

